<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %> - Browse our extensive catalog of books - fiction, non-fiction, academic, and more">
</head>
<body>

    <header class="header">
        <!-- Handle by JS -->
    </header>

    <main class="flex mx-auto items-start w-full">
        <div class="w-full p-4 main">
            <!-- Hero Section -->
            <section id="hero" class="hero"></section>

            <section class="my-5">
                <ol role="list" id="category-tab" class="flex sticky top-0 z-20 w-full bg-background/50 backdrop-blur-xl gap-3 mb-5 px-1 py-2 overflow-x-auto"></ol>
                <ul id="ebooks" role="list" class="grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-5"></ul>

                <!-- Pagination Container -->
                <div id="pagination-container" class="mt-8"></div>
            </section>
        </div>
    </main>

    <footer class="border-t bg-primary/5 border-dashed border-primary py-5">
        <section id="footer-section" class="main"></section>
    </footer>
</body>
</html>
