<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= htmlWebpackPlugin.options.title %> </title>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="canonical" href="/">


    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.title %> - Your digital library for discovering and reading books online">
    <meta property="og:image" content="/assets/screenshots/home-light.png">
    <meta property="og:url" content="/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.title %> - Your digital library for discovering and reading books online">
    <meta name="twitter:image" content="/assets/screenshots/home-light.png">

    <link rel="alternate" href="<%= domain %>" hreflang="en-us">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %> - Your digital library for discovering and reading books online">
</head>

<body>

    <header class="header">
        <!-- Handle by JS -->
    </header>

    <main class="flex mx-auto items-start w-full">
        <div class="w-full p-4 main">
            <!-- Hero Section -->
            <section id="hero" class="hero"></section>

            <section id="recommended-section">
                <div class="flex mt-10 mb-3 items-center justify-between">
                    <h2 class="font-sans text-lg font-medium">Recommended books</h2>
                    <a href="/collection" class="max-sm:text-sm text-primary hover:underline">View all</a>
                </div>
                <ul id="recommended-books" role="list" class="flex items-center justify-start gap-5 p-1 overflow-x-auto scrollbar-none" style="scrollbar-width: none; -ms-overflow-style: none;"></ul>
            </section>

            <section id="authors-section">
                <div class="flex mt-10 mb-5 items-center justify-between">
                    <h2 class="font-sans text-lg font-medium">Authors you may like</h2>
                    <a href="/authors" class="max-sm:text-sm text-primary hover:underline">View all</a>
                </div>
                <ul id="authors" role="list" class="flex items-center justify-start gap-5 p-1 overflow-x-auto"></ul>
            </section>

            <section id="new-release-section">
                <div class="flex mt-10 mb-5 items-center justify-between">
                    <h2 class="text-lg font-sans font-medium">New book releases</h2>
                    <a href="/collection" class="max-sm:text-sm text-primary hover:underline">View all</a>
                </div>
                <ul id="new-release" role="list" class="grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-4"></ul>
                <div id="pagination-container" class="mt-8"></div>
            </section>
        </div>
    </main>


    <footer class="border-t bg-primary/5 border-dashed border-primary py-5">
        <section id="footer-section" class="main"></section>
    </footer>
</body>

</html>